 * {
     font-family: 'Oswald', sans-serif;
 }

@media only screen and (max-width: 600px) {
    * {
        width: 100%;
        align-content: center;
    }
}

header {
    color: white;
    background-color: #F78733;
    border-width: 25px 0px;
    border-color: #FC4A1A;
    align-content: center;
}
header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: #4ABDAC;
      }
header li a {
        display: inline-block;
    }
header li a:hover {
        background-color: #DFDCE3;
    }

body {
        background-color: #4ABDAC;
        color: white;
}