 * {
     font-family: 'Oswald', sans-serif;
     text-align: center;
 }

header {
    color: white;
    background-color: #F78733;
    border-width: 25px 0px;
    border-color: #FC4A1A;
    align-content: center;
}

div.title {
    display: inline-block;
    text-align: center;
}

nav {
    background-color: #FC4A1A;
}

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: #4ABDAC;
      }
li a {
        display: block;
    }
li a:hover {
        background-color: #DFDCE3;
    }
.preston.active {
    background-color: rgb(131, 33, 7);
    color: white;
}
body {
        background-color: #4ABDAC;
        color: white;
        
}
div.weatherSummary {
    position: relative;
    text-align: center;
    color: white;
}

img.outdoors {
    height: auto;
    width: 90%;
}
p.summary {
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: #F78733;
    opacity: 0.75;
}

.forecast {
    display: none;
}
img.fishing {
    height: auto;
    width: 60%;
    margin: 0;

}

div.flyfishing {
    display: inline-block;
    width: 60%;
    text-align: center;
}