@media only screen and (min-width: 768px) {
    /*---NAV MENU---*/
    
    nav {
        margin: 0 0 25px 0;
    }
    

    nav button {
        display: none; 
    }

    nav ul {
        display: inline-flex;
        border: none;
    }
    
    nav ul li a {
        display: inline;
        padding: 10px;
            
    }

    nav ul.hide {
        display: inline-flex;
    }

    /*-----------GALLERY-----------*/

    div.weatherGallery figure:hover {
        box-shadow: 6px 6px 9px rgba(0, 0, 0, 0);
    }
    
    /*-----------FORECAST----------*/

    section.forecast {
        display: block;
        text-align: center;
        margin-bottom: 25px;               
   }

   table {
       margin: auto;
       background-color: #4ABDAC;
   }

   .forecast td, th {
        border: 1px solid;
   }

   /*----------HERO IMAGE---------*/

   img.fishing {
       float: right;
   }
   div.weatherCenter {
       float: right;
   }

   /*---------FOOTER---------*/

    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    div.footer {
        grid-column: 2 / 3;
    }

    iframe {
        grid-column: 3 / 4;
    }
    

    /*-------JSON STYLING--------*/

    section.jsontown {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    section.jsontown article img{
        vertical-align: bottom;
    }

    #jsontown article {
        box-shadow: 0 5px 10px 0;
    }

    div.weathergallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        max-width: 2000px;
    }

}