@media only screen and (min-width: 768px) {
    /*---NAV MENU---*/
    
    nav button {
        display: none; 
    }

    nav ul {
        display: inline-flex;
        border: none;
    }
    
    nav ul li a {
        display: inline;
        padding: 5px;
            
    }

    nav ul.hide {
        display: inline-flex;
    }
    
    /*-----------FORECAST----------*/

    section.forecast {
        display: block;
        text-align: center;
        margin-bottom: 25px;              
   }

   table {
       margin: auto;
   }

   .forecast td, th {
        border: 1px solid;
   }

   /*----------HERO IMAGE---------*/

   img.fishing {
       float: right;
   }
   div.weatherCenter {
       float: right;
   }

   /*---------FOOTER---------*/

    div.footer {
        float: right;
    }

    iframe {
        width: 400px;
        height: 400px;
    }

    /*-------JSON STYLING--------*/

    section.jsontown {
        grid-template-columns: 1fr 1fr 1fr;
    }

    section.jsontown article img{
        vertical-align: bottom;
    }

}