* {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/*--------HEADER--------*/ 

header {
   color: #F78733;    
   align-content: center;
   display: inline-flex;
   padding-bottom: 0;
   margin: 0;
}

header img {
   max-width: 100%;
}

.head {
   align-content: center;
}

div.title {
   display: inline-block;
   text-align: center;
}

/*----------NAV BAR----------*/

nav {
   background-color: #FC4A1A;
   padding: 15px;
}

ul.hide {
   display: none;
}

ul {
       display: block;
       list-style-type: none;
       margin: 0;
       padding: 0;        
}

li a {
       display: block;
       font-size: 1.7rem;
       text-decoration: none;
       color: white;
}

li a.active {
   background-color: rgb(199, 69, 33);
}

li a:hover {
       background-color: #4ABDAC;
}

/*-------------FOOTER---------------*/

footer {
   background-color: #4ABDAC;
   color: white;
   margin-top: 100px;
   display: grid;
   grid-template-columns: 1fr;
   justify-content: center;
}

iframe {
   max-width: 50%;
   margin: auto;
}

div.footer {
   text-align: center;    
}

canvas {
   position: relative !important;

}